.contacto{
    text-align: start;
    
    h2{
        font-size: 1rem;
    }
    h1{
        text-align: center;
    }
    .redes-contacto{
        padding-bottom: 30px;
        display: block;
        text-align: center;
        text-justify: center;
    }
}


