.footer {
    height: 150px;
    padding: 20px;
    border-top: 5px $color-primario solid;
    
    h2{
        display: flex;
        justify-content: center;
    }
    
    .redes{
        display: flex;
        justify-content: space-around;
        height: 40px;
        align-items: center;
    
        .fa-regular, .fa-brands{
            color: black;
            padding-top: 20px;
        }
    }

$redes: (
    facebook: blue,
    instagram: pink,
    whatsapp: green,
    envelope: red
);

@each $redsocial, $colorhover in $redes {
    .fa-#{$redsocial}:hover {
        color: $colorhover;
    }
}
.fa-facebook:hover{
    color: map-get($redes, facebook);
}
}

