@import "./_variables";
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
    
    .navbar-toggler{
    color: $color-blanco;
    }
    
    .nav-item{
    display: flex;
    padding: 20px;
    transition: all .2s;
        
        .nav-link, .nav-link:hover{
            text-decoration: none;
            color: $color-blanco;    
        }
    }
    .nav-item:hover{
            background-color: $color-primario;
            text-decoration: none;
            border-radius: 5px;
        }
}


