$fuente-p: 'Josefin Sans', sans-serif;
$fuente-h: 'Mouse Memoirs', sans-serif;

$color-primario: #005691;
$color-secundario: #4CB1F6;
$color-fondo: #E8F1F5;
$color-blanco: #FFFFFF;
$color-negro: #000000;
$color-navbar: #094166;