
.contacto{
    text-align: start;
}
.contacto h2{
    font-size: 1rem;
}
.contacto img{
    width: 20px;
}
.contacto h1{
    text-align: center;
}
.redes-contacto{
    padding-bottom: 30px;
}
.redes-contacto img{
    width: 30px;
    align-items: center;
    padding-top: 5px;
}
.testimonio, .duracion{
    padding: 20px;
}
.duracion{
    text-align: center;
}
.h2-testimonios{
    text-align: center;
}
.testimonios{
    display: grid;
    width: 100%;
    height: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "testimonio1 testimonio2 testimonio3";
    /* text-align: center; */
}
.testimonio{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.foto-testimonio{
    width: 10em;
    margin: 10px
}
.testimonio1{
    grid-area: testimonio1;
}
.testimonio2{
    grid-area: testimonio2;
}
.testimonio3{
    grid-area: testimonio3;
}
.h2-asesoramiento{
    padding: 20px;
    text-align: center;
}

.sobre-mi h1{
    text-align: center;
    padding: 20px;
}
.derecha1{
    grid-area: derecha1;
}
.derecha2{
    grid-area: derecha2;
}
.izquierda{
    grid-area: izquierda;
}
.grid-sobre-mi{
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        ".... derecha1 ...."
        ".... izquierda ...."
        ".... derecha2 ....";
}

.derecha, .izquierda{
    /* , .div-explicacion */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
/* .derecha p, .izquierda p, .div-explicacion p{
    width: 30%;
    /* padding: 20px; */
/* } */
.div-explicacion{
    grid-area: div-explicacion;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-explicacion{
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: 1fr;
    grid-template-areas: ".... div-explicacion ....";
}
.derecha img, .izquierda img, .foto-explicacion{
    padding: 20px;
}
.izquierda{
    flex-direction: row-reverse;
}
.duracion1{
    grid-area: duracion1;
}
.duracion3{
    grid-area: duracion3;
}
.duracion6{
    grid-area: duracion6;
}
.grid-duraciones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ".... duracion1 duracion3 duracion6 ....";
}
.h1-asesoramiento{
    text-align: center;
    padding: 20px;
}
.whatsapp-asesoramiento{
    text-align: center;
    padding: 20px;
    margin: 0px;
}
.duracion{
    text-align: center;
}
.duracion h3{
    display: flex;
    justify-content: center;
}
.h1-planes{
    text-align: center;
    padding: 20px;
}
.explicacion-planes{
    padding: 20px;
    justify-content: center;
    text-align: center;
    grid-area: explicacion-planes;
}
.grid-planes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ".... explicacion-planes ....";
}

/* .plan-nutricion{
    display: flex;
    justify-content: space-around;
} */
/* .div-nutricion h2{
    text-align: center;
} */
.div-entrenamiento, .div-nutricion{
    text-align: center;
}
.div-entrenamiento img, .plan-nutricion{
    padding: 20px;
    justify-content: center;
}
.h2-nutricion, .h2-entrenamiento{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
}
.plan-nutricion1{
    grid-area: plan-nutricion1;
}
.plan-nutricion2{
    grid-area: plan-nutricion2;
}
.plan-nutricion3{
    grid-area: plan-nutricion3;
}
.grid-nutricion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ".... plan-nutricion1 plan-nutricion2 plan-nutricion3 ....";
}
.plan-entrenamiento1{
    grid-area: plan-entrenamiento1;
}
.plan-entrenamiento2{
    grid-area: plan-entrenamiento2;
}.plan-entrenamiento3{
    grid-area: plan-entrenamiento3;
}
.grid-entrenamiento{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ".... plan-entrenamiento1 plan-entrenamiento2 plan-entrenamiento3 ....";
    padding-bottom: 20px;
}
.plan-entrenamiento, .plan-nutricion{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px){
    .grid-hola{
        height: 700px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "foto-mia" "hola";
    }
    .foto-mia{
        width: 50%;
    }
    .div-hola{
        align-items: center;
    }
    .grid-explicacion{
        grid-template-columns: 1fr;
        grid-template-areas: "div-explicacion";
    }
    .explicacion{
        padding-left: 20px;
    }    
    .grid-duraciones{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "duracion1 duracion3 duracion6";
    }
    .grid-planes{
        grid-template-columns: 1fr;
        grid-template-areas: "explicacion-planes";
    }
    .grid-nutricion{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "plan-nutricion1 plan-nutricion2 plan-nutricion3";
    }
    .grid-entrenamiento{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "plan-entrenamiento1 plan-entrenamiento2 plan-entrenamiento3";
    }
}
@media screen and (max-width: 480px) {
    /* .menu{
        grid-area: menu;
        flex-wrap: wrap;
    }
    .logo{
        grid-area: logo;
        display: flex;
        justify-content: center;
    } 
    .header{
        display: grid;
        height: 180px;
        width: 100%;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "logo" "menu";
    } */
    .foto-mia{
        width: 70%;
    }
    /* .pregunta1{
        grid-area: pregunta1;
    }
    .pregunta2{
        grid-area: pregunta2;
    }
    .pregunta3{
        grid-area: pregunta3;
    }
    .pregunta4{
        grid-area: pregunta4;
    }
    .preguntas{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "pregunta1 pregunta2" "pregunta3 pregunta4";
        gap: 20px;
    }
     */
}