* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  line-height: 1;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}

main {
  background-color: #E8F1F5;
}

h2, h3, li {
  font-family: "Mouse Memoirs", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h1 {
  font-family: "Mouse Memoirs", sans-serif;
  color: #005691;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  width: 100%;
  text-decoration: none;
  padding: 0px 0px 0px 0px;
  background-color: #094166;
}
.navbar .navbar-toggler {
  color: #FFFFFF;
}
.navbar .nav-item {
  display: flex;
  padding: 20px;
  transition: all 0.2s;
}
.navbar .nav-item .nav-link, .navbar .nav-item .nav-link:hover {
  text-decoration: none;
  color: #FFFFFF;
}
.navbar .nav-item:hover {
  background-color: #005691;
  text-decoration: none;
  border-radius: 5px;
}

.grid-hola {
  width: 100%;
  height: 450px;
  display: grid;
  grid-template-columns: 0.5fr 2.5fr 0.5fr 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".... hola .... foto-mia .... ";
}
.grid-hola .div-hola {
  display: flex;
  flex-direction: column;
  grid-area: hola;
  justify-content: center;
}
.grid-hola .div-hola h1 {
  font-family: "Mouse Memoirs", sans-serif;
  color: #005691;
  padding: 20px 0px 0px 20px;
  font-size: 3rem;
}
.grid-hola .div-hola h2 {
  font-family: "Mouse Memoirs", sans-serif;
  color: #4CB1F6;
  padding: 10px 0px 0px 20px;
  font-size: 2.5rem;
}
.grid-hola .div-hola .div-boton-hola {
  display: flex;
  width: 70%;
  padding: 20px;
  justify-content: center;
}
.grid-hola .div-hola .div-boton-hola .boton-hola {
  padding: 5px;
  border-radius: 5px;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  background-color: #4CB1F6;
  color: #005691;
  border-color: #005691;
}
.grid-hola .div-hola .div-boton-hola .boton-hola:hover {
  transform: scale(1.1);
}
.grid-hola .grid-foto-mia {
  display: flex;
  grid-area: foto-mia;
  justify-content: center;
  align-items: center;
}
.grid-hola .grid-foto-mia .foto-mia {
  padding: 20px;
  width: 75%;
  border-radius: 100%;
}

.faq {
  height: 500px;
  padding: 20px;
  text-align: center;
}
.faq h2 {
  padding: 20px;
  text-align: center;
}
.faq .estas {
  text-align: center;
}
.faq .accordion-item, .faq .accordion-header, .faq .accordion-button {
  background-color: #E8F1F5;
}
.faq .accordion-item {
  text-align: start;
}

.h2-testimonios {
  text-align: center;
  padding-top: 50px;
}

.testimonios {
  display: grid;
  width: 100%;
  height: 400px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "testimonio1 testimonio2 testimonio3";
}
.testimonios .testimonio {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.testimonios .testimonio .foto-testimonio {
  width: 10em;
  margin: 10px;
}
.testimonios .testimonio1 {
  grid-area: testimonio1;
}
.testimonios .testimonio2 {
  grid-area: testimonio2;
}
.testimonios .testimonio3 {
  grid-area: testimonio3;
}

.footer {
  height: 150px;
  padding: 20px;
  border-top: 5px #005691 solid;
}
.footer h2 {
  display: flex;
  justify-content: center;
}
.footer .redes {
  display: flex;
  justify-content: space-around;
  height: 40px;
  align-items: center;
}
.footer .redes .fa-regular, .footer .redes .fa-brands {
  color: black;
  padding-top: 20px;
}
.footer .fa-facebook:hover {
  color: blue;
}
.footer .fa-instagram:hover {
  color: pink;
}
.footer .fa-whatsapp:hover {
  color: green;
}
.footer .fa-envelope:hover {
  color: red;
}
.footer .fa-facebook:hover {
  color: blue;
}

.contacto {
  text-align: center;
}
.contacto h2 {
  font-size: 2rem;
  padding: 10px;
  text-align: center;
}
.contacto h1 {
  text-align: center;
}
.contacto .redes-contacto {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contacto .redes-contacto i {
  padding-top: 10px;
}
.contacto .redes-contacto .fa-brands, .contacto .redes-contacto .fa-regular {
  color: black;
}
.contacto .redes-contacto .fa-whatsapp:hover {
  color: green;
}
.contacto .redes-contacto .fa-instagram:hover {
  color: pink;
}
.contacto .redes-contacto .fa-facebook:hover {
  color: blue;
}
.contacto .redes-contacto .fa-envelope:hover {
  color: red;
}

.sobre-mi h1 {
  text-align: center;
  padding: 20px;
}
.sobre-mi .grid-sobre-mi {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ".... derecha1 ...." ".... izquierda ...." ".... derecha2 ....";
}
.sobre-mi .grid-sobre-mi .derecha, .sobre-mi .grid-sobre-mi .izquierda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.sobre-mi .grid-sobre-mi .derecha img, .sobre-mi .grid-sobre-mi .izquierda img {
  margin: 10px;
}
.sobre-mi .grid-sobre-mi .izquierda {
  flex-direction: row-reverse;
}
.sobre-mi .grid-sobre-mi .derecha1 {
  grid-area: derecha1;
}
.sobre-mi .grid-sobre-mi .derecha2 {
  grid-area: derecha2;
}
.sobre-mi .grid-sobre-mi .izquierda {
  grid-area: izquierda;
}
.sobre-mi .quien-soy h3, .sobre-mi .motivo h3, .sobre-mi .estudios h3 {
  padding-bottom: 10px;
}

.h1-asesoramiento {
  text-align: center;
  padding: 20px;
}

.grid-explicacion {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".... div-explicacion ....";
}
.grid-explicacion .div-explicacion {
  grid-area: div-explicacion;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-explicacion .div-explicacion .p-explicacion {
  grid-area: p-explicacion;
}
.grid-explicacion .div-explicacion .foto-explicacion {
  margin: 10px;
  grid-area: foto-explicacion;
}

.h2-asesoramiento {
  padding: 20px;
  text-align: center;
}

.grid-duraciones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".... duracion1 duracion3 duracion6 ....";
}
.grid-duraciones .duracion {
  text-align: center;
  padding: 20px;
}
.grid-duraciones .duracion h3 {
  display: flex;
  justify-content: center;
}
.grid-duraciones .duracion1 {
  grid-area: duracion1;
}
.grid-duraciones .duracion3 {
  grid-area: duracion3;
}
.grid-duraciones .duracion6 {
  grid-area: duracion6;
}

.whatsapp-asesoramiento {
  text-align: center;
  padding: 20px;
  margin: 0px;
}

.h1-planes {
  text-align: center;
  padding: 20px;
}

.shadow {
  border-radius: 10%;
}

.plan:hover {
  transform: scale(1.1);
}

.grid-planes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".... explicacion-planes ....";
}
.grid-planes .explicacion-planes {
  padding: 20px;
  justify-content: center;
  text-align: center;
  grid-area: explicacion-planes;
}

.h2-nutricion, .h2-entrenamiento {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.grid-nutricion {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".... plan-nutricion1 plan-nutricion2 plan-nutricion3 ....";
}
.grid-nutricion .plan-nutricion {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-nutricion .plan-nutricion1 {
  grid-area: plan-nutricion1;
}
.grid-nutricion .plan-nutricion2 {
  grid-area: plan-nutricion2;
}
.grid-nutricion .plan-nutricion3 {
  grid-area: plan-nutricion3;
}

.grid-entrenamiento {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".... plan-entrenamiento1 plan-entrenamiento2 plan-entrenamiento3 ....";
  padding-bottom: 20px;
}
.grid-entrenamiento .plan-entrenamiento {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-entrenamiento .plan-entrenamiento1 {
  grid-area: plan-entrenamiento1;
}
.grid-entrenamiento .plan-entrenamiento2 {
  grid-area: plan-entrenamiento2;
}
.grid-entrenamiento .plan-entrenamiento3 {
  grid-area: plan-entrenamiento3;
}

@media screen and (max-width: 768px) {
  .grid-hola {
    height: 700px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "foto-mia" "hola";
  }
  .grid-hola .div-hola {
    align-items: center;
  }
  .grid-hola .foto-mia {
    width: 50%;
  }
  .grid-sobre-mi {
    height: 1100px;
    grid-template-columns: 0.25fr 1fr 0.25fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    grid-template-areas: "derecha1" "izquierda1" "derecha2";
  }
  .grid-sobre-mi .derecha, .sobre-mi .grid-sobre-mi .izquierda, .grid-sobre-mi .izquierda {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .grid-sobre-mi .none {
    display: none;
  }
  .grid-explicacion {
    height: 150px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "p-explicacion";
  }
  .grid-explicacion .p-explicacion {
    padding: 20px;
  }
  .grid-explicacion .foto-explicacion {
    display: none;
  }
  .testimonios {
    height: 850px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "testimonio1" "testimonio2" "testimonio3";
  }
  .grid-duraciones {
    height: 900px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "duracion1" "duracion3" "duracion6";
  }
  .grid-planes {
    grid-template-columns: 1fr;
    grid-template-areas: "explicacion-planes";
  }
  .grid-nutricion {
    height: 900px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "plan-nutricion1" "plan-nutricion2" "plan-nutricion3";
  }
  .grid-entrenamiento {
    height: 900px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "plan-entrenamiento1" "plan-entrenamiento2" "plan-entrenamiento3";
  }
  .contacto .redes-contacto {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .foto-mia {
    width: 70%;
  }
  .testimonios {
    height: 1050px;
  }
  .grid-sobre-mi {
    height: 1400px;
  }
}
@media screen and (max-width: 400px) {
  .grid-sobre-mi {
    height: 1600px;
  }
}/*# sourceMappingURL=style.css.map */